<div>
    <p class="basket_total_price">{{ "price_total" | trans( {} , 'basket') | capitalize ~ ' : '}}<span id="totalprice">{{ translate_price(render_basket_total_price()) }}</span><span> {{ render_locale_currency(true)  }}</span></p>
</div>



